<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="my-5">
        @if(recipeId){
            Update
        }@else{
            Add
        } Recipe Details</h1>
        <pre>{{ingredientArray}}</pre>
        <div style="width: 800px;" class="border p-5 rounded">
            <div class="row">
                <div class="col-lg-6">
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails().name" type="text" placeholder="Recipe Name" class="form-control">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails().cuisine" type="text" placeholder="Recipe Cuisine" class="form-control">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails().image" type="text" placeholder="Recipe Image URL" class="form-control">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails().prepTimeMinutes" type="text" placeholder="Recipe Preparation time in Minutes (eg: 25)" class="form-control">
                </div>
                <div class="mb-2">
                    <div class="d-flex mb-2">
                        <textarea #ingredientInput name="" id="" placeholder="Add Ingredients" class="form-control"></textarea>
                        <button (click)="addingredients(ingredientInput)" class="btn fw-bolder fs-1 ms-1">+</button>
                    </div>
                    @for (item of ingredientArray; track $index) {
                        <div class="d-flex">
                            <input value="{{item}}" type="text" placeholder="Ingredients" class="form-control" readonly>
                            <button (click)="removeIngredient(item)" class="btn text-danger fw-bolder ms-1"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails().servings" type="text" placeholder="Servings (eg:4)" class="form-control">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails().caloriesPerServing" type="text" placeholder="Calories per servings (eg:350)" class="form-control">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails().cookTimeMinutes" type="text" placeholder="Recipe Cook Time in Minutes (eg: 25)" class="form-control">
                </div>
                <div class="mb-2">
                    <select [(ngModel)]="recipeDetails().difficulty" class="form-control">
                        <option selected hidden disabled>Choose mode of cooking</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                </div>
                <div class="mb-2">
                    <div class="d-flex mb-2">
                        <textarea #instructionInput placeholder="Add Instructions" class="form-control"></textarea>
                        <button (click)="addinstruction(instructionInput)" class="btn fw-bolder fs-1 ms-1">+</button>
                    </div>
                    @for (item of instructionArray; track $index) {
                        <div class="d-flex mb-1">
                            <input [value]="item" type="text" placeholder="Instructions" class="form-control" readonly>
                            <button (click)="removeInstruction(item)" class="btn text-danger fw-bolder ms-1"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    }
                </div>
            </div>
            </div>
            <div class="my-2 d-flex">
                <input #mealInput type="text" class="form-control" placeholder="Add Meal types (eg: Breakfast, Lunch, Dinner)">
                <button (click)="addMeal(mealInput)" class="btn fw-bolder fs-1 ms-1">+</button>
            </div>
            @for (meal of mealArray; track $index) {
                <div class="d-flex flex-wrap">
                    <span class="border rounded ps-2 me-1">{{meal}} <button (click)="removeMeal(meal)" class="btn fw-bolder"><i class="fa-solid fa-x"></i></button></span>
                </div>
            }
            <div class="text-center my-2">
                @if (recipeId) {
                    <button (click)="editRecipe()" class="btn fw-bolder btn-primary">UPDATE RECIPE</button>
                }@else {
                    <button (click)="addRecipe()" class="btn fw-bolder btn-success">ADD RECIPE</button>
                }
            </div>
        </div>
</div>
